* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #0d6efd;
    color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    transition: background 0.3s;
}

.menu a:hover,
/*.menu a.active {
    background-color: rgba(255,255,255,0.2);
}*/
menu a:link{
    background-color: rgba(255,255,255,0.2);
}

.icon {
    margin-right: 10px;
}

/* Main Content */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Top Bar */
.topbar {
    background-color: #007bff;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.user {
    display: flex;
    align-items: center;
}

.bell {
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.avatar {
    background-color: #004aad;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login Box */
.login-box {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.login-box h1 {
    margin-bottom: 20px;
}

.login-box form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-box label {
    margin-bottom: 5px;
    font-weight: 600;
}

.login-box input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background-color: #0056b3;
}

.forgot {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

